{% extends 'app/base.html' %}

{% load bootstrap3 %}

{% load bootstrap_pagination %}

{% bootstrap_paginate page_obj range=5 show_prev_next="false" show_first_last="true" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>{{ user.username.capitalize }} tasks</h2>
    </div>
    <div class="col-md-6 pull-right">
        <a href="{% url 'task-create' %}" class="btn btn-primary pull-right" role="button">
                {% bootstrap_icon "plus" %} Create
        </a>
    </div> 
</div>
<br>
<div class="row">
    <div class="col-md-6">  
        <ul class="list-group">
            {% for task in object_list %}
                <li class="list-group-item"><strong>{{ task.name }}</strong></li>    
                <li class="list-group-item">Priority: {{ task.priority }}</li>
                <li class="list-group-item">Created: {{ task.created }}</li>
                <li class="list-group-item">Modified: {{ task.modified }}</li>
                {% if task.done %}
                <li class="list-group-item">Done</li>
                {% else %}
                <li class="list-group-item">Not done</li>
                {% endif %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-5 pull-right">
                            <a href="{% url 'task-update' task.id %}" class="btn btn-info" role="button">
                                    {% bootstrap_icon "edit" %} Edit
                            </a>
                            <a href="{% url 'task-delete' task.id %}" class="btn btn-info" role="button">
                                    {% bootstrap_icon "trash" %} Delete
                            </a>
                        </div>
                    </div>
                    
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
   
</div>
<br>
{% endblock %}