{% extends 'app/base.html' %}

{% load bootstrap3 %}

{% load bootstrap_pagination %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <h2>Tasks: {{ event.name.text }}</h2>
    </div>
    <div class="col-md-6 pull-right">
        <a href="{% url 'task-create' event_id %}" class="btn btn-success pull-right" role="button">
                {% bootstrap_icon "plus" %} Create
        </a>
    </div> 
</div>
<br>
<div class="panel panel-default">
    <table class="table table-striped" style=“width:100%“>
        <tr>
            <th>Name</th>
            <th>Priority</th>
            <th>Created</th>
            <th>Modified</th>
            <th>Done</th>
            <th></th>
        </tr>
        {% for task in object_list %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.created }}</td>
            <td>{{ task.modified }}</td>
            {% if task.done %}
                <td>Done</td>
            {% else %}
                <td> Not done</td>
            {% endif %}
            <td>
            {% if task.done %}
                <a href="#" class="btn btn-info disabled" role="button">
                    {% bootstrap_icon "ok" %} Mark as done
                </a>
            {% else %}
                <a href="{% url 'task-done' event_id task.id %}" class="btn btn-info" role="button">
                    {% bootstrap_icon "ok" %} Mark as done
                </a>
            {% endif %}
                <a href="{% url 'task-update' event_id task.id %}" class="btn btn-info" role="button">
                    {% bootstrap_icon "pencil" %} Edit
                </a>
                <a href="{% url 'task-delete' event_id task.id %}" class="btn btn-info" role="button">
                    {% bootstrap_icon "trash" %} Delete
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
<br>
{% bootstrap_paginate page_obj range=3 %}

{% endblock %}